html, body {
  min-height: 100%;
  font-size: 16px;
  background: #222;
  color: #eee;
}

a, a:hover, a:active, a:visited {
  color:#9f9;
}

* {
	outline: none;
  box-sizing: border-box;
  transition: all 0.25s ease-out; 
  transition-property: background, border, color, width, height, max-width, max-height, transform, opacity;
  // background: rgba(#663, 0.12);
}

/*/////////////////////////////*/

.video-background {
  background: #000;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
	overflow: hidden;
	height: 100vh;
	
	// http://html5backgroundvideos.com/pattern-overlays/
	// or vegas js
	._pattern-overlay { 
		position: absolute;
		top: 0;
		width: 100%;
		opacity: 0.3;
		bottom: 0;
		background-image: url(https://cdnjs.cloudflare.com/ajax/libs/vegas/2.3.1/overlays/03.png);
		z-index: 1;
	}
	
	._youtube-iframe {
		position: absolute;
		pointer-events: none;
		height: 200vh; 
		width: 100%;
		top: -50vh; 
	}
}




